@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

//light theme colors
$lt-verylightgray: #fafafa;
$lt-verylightgray-blue: #e4e5f1;
$lt-lightgray-blue: #d2d3db;
$lt-darkgray-blue: #9394a5;
$lt-verydarkgray-blue: #484b6a;

// dark theme colors
$dt-verydark-blue: #161722;
$dt-verydarksaturated-blue: #25273c;
$dt-lightgrayish: #cacde8;
$dt-lightgrayish-hover: #e4e5f1;
$dt-darktheme-blue: #777a92;
$dt-verydark-grey: #4d5066;
$dt-verydark-grey2: #393a4c;

$color-bluehover: #3a7bfd;

$img-bg-dark: url(../images/bg-mobile-dark.jpg);
$img-bg-light: url(../images/bg-mobile-light.jpg);
$box-bg-white: #ffffff;
$theme-sun: url(../images/icon-sun.svg);
$theme-moon: url(../images/icon-moon.svg);

:root {
	--bg-dark: #{$dt-verydark-blue};
	--color-text: #{$dt-lightgrayish};
	--img-bg-dark: #{$img-bg-dark};
	--box-bg: #{$dt-verydarksaturated-blue};
	--btn-switch: #{$theme-sun};
}

$check-gradient: linear-gradient(
	to bottom right,
	hsl(192, 100%, 67%),
	hsl(280, 87%, 65%)
);

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
	@media screen and(min-width:768px) {
		font-size: 75%;
	}
}

body {
	background-image: var(--img-bg-dark);
	background-repeat: no-repeat;
	background-size: auto auto;
	background-color: var(--bg-dark);
	font-family: "Josefin Sans", sans-serif;
	color: #fff;
	min-height: 100vh;
	width: 100%;
	
	transition: all 350ms;

	@media screen and(min-width:376px) {
		background-image: url(../images/bg-desktop-dark.jpg);
		background-position: center top;
		background-size: 100% auto;
	}
}

.light {
	--bg-dark: #{$lt-verylightgray-blue};
	--img-bg-dark: #{$img-bg-light};
	--box-bg: #{$box-bg-white};
	--color-text: #{$dt-verydark-grey2};
	--btn-switch: #{$theme-moon};
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	font-family: inherit;
	box-sizing: inherit;
}
