@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
	background-image: url(../images/bg-mobile-dark.jpg);
	background-repeat: no-repeat;
	background-size: auto auto;
	background-color: hsl(235, 21%, 11%);
	font-family: "Josefin Sans", sans-serif;
	color: #fff;
	min-height: 100vh;
	min-width: 320px;

	@media screen and(min-width:376px) {
		background-image: url(../images/bg-desktop-dark.jpg);
		background-position: center top;
		background-size: 100% auto;
	}
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	font-family: inherit;
	box-sizing: inherit;
}

//light theme colors
$color-verylightgray: #fafafa;
$color-verylightgrayish-blue: #e4e5f1;
$color-lightgrayish-blue: #d2d3db;
$color-darkgrayish-blue: #9394a5;
$color-verydarkgrayish-blue: #484b6a;

$color-verydark-blue: #161722;
$color-verydarksaturated-blue: #25273c;
$color-lightgrayish: #cacde8;
$color-lightgrayish-hover: #e4e5f1;
$color-darktheme-blue: #777a92;
$color-verydarktheme-grayish: #4d5066;
$color-darktheme-blue2: #393a4c;

$color-bluehover: #3a7bfd;

$check-gradient: linear-gradient(
	to bottom right,
	hsl(192, 100%, 67%),
	hsl(280, 87%, 65%)
);
