@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400&display=swap");
* {
	margin: 0;
	padding: 0;
}

$color-orange: #f87070;
$color-cyan: #6ff3f8;
$color-purple: #d981f9;
$color-greyish: #eef1fa;
$color-grey:#5b5c6e;
$color-lightblue: #d7e0ff;

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
	background-color: #1e2140;
	background: -webkit-linear-gradient(
		135deg,
		rgb(47, 53, 103) 45%,
		rgb(20, 24, 53)
	);
	background: -moz-linear-gradient(
		135deg,
		rgb(47, 53, 103) 45%,
		rgb(20, 24, 53)
	);
	background: linear-gradient(135deg, rgb(39, 43, 85) 45%, rgb(20, 24, 53));
	color: #fff;
}
