.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	justify-content: space-evenly;
}

.hidden {
	display: none;
}

.modal {
	position: absolute;
	z-index: 1000;
	background-color: #fff;
	color: rgb(35, 27, 48);
	border-radius: 15px;
	padding: 0.5rem;
	width: 85vw;
	height: 85vh;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);

	& .heading {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid black;
		padding-bottom: 0.5rem;

		& button {
			background: transparent;
			padding: 5px;
			border: none;
			outline: none;
			cursor: pointer;

			& > i {
				font-size: 1.3rem;
			}
		}
	}

	& .time-settings {
		width: 90%;
		height: 45%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		align-items: center;
		margin: 0rem auto;
		
	}

	& .calculations {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		font-size: 0.8rem;
		

		input[type="number"] {
			-moz-appearance: textfield;
			min-width: 45%;
			border-radius: 5px;
			padding: 8px;
			border: none;
			outline: none;
			background-color: #eef1fa;
		}
		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

.menu-title {
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
}

.nav-menu {
	background-color: rgb(21, 8, 46);
	border-radius: 100px;
	font-size: 0.7rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	
	&__items {
		list-style-type: none;
		display: flex;
		
		
	}

	&__item {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		padding: 0.5rem;
		
		border-radius: 100px;
		transition: all 0.5s ease;
		cursor: pointer;

		
	}

	& .nav-menu__item--active {
		background-color: $color-orange;
	}
}

.circle {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 15rem;
	width: 15rem;
	background-image: linear-gradient(
		to right bottom,
		#131732,
		#181c39,
		#1d2141,
		#222648,
		#272b50
	);
	border-radius: 50%;
	padding: 1rem;

	& .timer {
		position: relative;
		border-radius: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $color-lightblue;
		background-color: #151932;

		&__time {
			font-size: 3rem;

			font-weight: bold;
			& > span {
				letter-spacing: 3px;
			}
		}
	}
}

.stopwatch {
	position: absolute;
	z-index: 150;
	bottom: 0;
	transform: translateY(-2.5rem);

	&__button {
		background: transparent;
		font-size: 1rem;
		color: $color-lightblue;
		padding: 5px;
		text-transform: uppercase;
		width: 100px;
		text-align: center;
		letter-spacing: 10px;
		text-indent: 5px;
		border: none;
		outline: none;
		transition: all 0.3s ease;

		&:hover {
			transform: scale(1.2);
		}
	}
}

.ring-wrapper {
	height: auto;
	width: 100%;
	position: absolute;
	z-index: 10;
	align-self: center;
}

.ring {
	&__progress {
		fill: transparent;
		stroke: #f58652;
		stroke-width: 15px;
		transition: 0.35s stroke-dashoffset;
		// axis compensation
		transform: rotate(-90deg);
		transform-origin: 50% 50%;
		pointer-events: none;
	}
}

.settings__icon {
	cursor: pointer;
	& > i {
		font-size: 1.7rem;
		color: #7a819e;
	}
}

.fonts {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0 auto;
	width: 90%;

	padding: 0.5rem;
}

.font-menu {
	display: flex;

	margin: 1rem auto;
	justify-content: center;
	align-items: center;

	& .font-picker {
		color: #fff;
		width: 30px;
		height: 30px;
		background-color: black;
		text-align: center;
		line-height: 2;
		font-size: 15px;
		border-radius: 50%;
		padding: 2px;
		margin-left: 7px;
		margin-right: 7px;
	}
}

.color-picker {
	width: 90%;
	margin: 0 auto;

	padding: 0.5rem;

	&__colors {
		padding: 2px;

		display: flex;
		margin-top: 10px;

		justify-content: center;
		align-items: center;
	}

	&__button {
		position: relative;
		cursor: pointer;
		color: #fff;
		width: 30px;
		height: 30px;
		background-color: black;
		text-align: center;
		line-height: 2;
		font-size: 15px;
		border-radius: 50%;
		padding: 2px;
		margin-left: 7px;
		margin-right: 7px;
	}
}

.button--active {
	&::after {
		border: 2px solid rgb(10, 6, 6);
		border-top: none;
		border-right: none;
		content: "";
		height: 6px;
		left: 11px;
		opacity: 1;
		position: absolute;
		top: 11px;
		transform: rotate(-45deg);
		width: 12px;
	}
}

.color-picker__button--orangered {
	background-color: $color-orange;
}

.color-picker__button--cyan {
	background-color: $color-cyan;
}

.color-picker__button--violet {
	background-color: $color-purple;
}

.apply {
	width: 90%;
	margin: 1rem auto;
	text-align: center;
	&__button {
		padding: 0.8rem;
		width: 5rem;
		background-color: $color-orange;
		color: #fff;
		border: none;
		border-radius: 10px;
		transform: translateY(10px);
	}
}
