@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --bg-dark: #161722;
  --color-text: #cacde8;
  --img-bg-dark: url(../images/bg-mobile-dark.jpg);
  --box-bg: #25273c;
  --btn-switch: url(../images/icon-sun.svg);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

body {
  background-image: var(--img-bg-dark);
  background-repeat: no-repeat;
  -webkit-background-size: auto auto;
          background-size: auto auto;
  background-color: var(--bg-dark);
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  min-height: 100vh;
  width: 100%;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

@media screen and (min-width: 376px) {
  body {
    background-image: url(../images/bg-desktop-dark.jpg);
    background-position: center top;
    -webkit-background-size: 100% auto;
            background-size: 100% auto;
  }
}

.light {
  --bg-dark: #e4e5f1;
  --img-bg-dark: url(../images/bg-mobile-light.jpg);
  --box-bg: #ffffff;
  --color-text: #393a4c;
  --btn-switch: url(../images/icon-moon.svg);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  font-family: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.5rem;
  max-width: 300px;
  padding-bottom: 3rem;
}

.header__title {
  text-transform: uppercase;
  font-size: 2.7rem;
  letter-spacing: 10px;
}

.header__switch {
  background: transparent;
  background-image: var(--btn-switch);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 250ms all;
  -o-transition: 250ms all;
  transition: 250ms all;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
}

.create-task {
  margin-bottom: 1.5rem;
}

.create-task > .gray-box {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-task__text {
  font-size: 1.3rem;
  margin-left: 2rem;
  background: transparent;
  border: none;
  outline: none;
  color: #777a92;
}

.create-task__btn {
  margin-left: 1.9rem;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: transparent;
  border: 1px solid #4d5066;
}

.todo-list {
  margin: 0 auto;
  min-height: 200px;
}

.new-todos__item {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #4d5066;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3));
  background: -webkit-linear-gradient(top left, #57ddff, #c058f3);
  background: -o-linear-gradient(top left, #57ddff, #c058f3);
  background: linear-gradient(to bottom right, #57ddff, #c058f3);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  border: transparent;
}

[type="checkbox"]:checked + label .custom-checkbox::after {
  display: block;
}

[type="checkbox"]:checked + label::before {
  display: block;
  opacity: 0.4;
}

[type="checkbox"]:checked + label .textspan {
  opacity: 0.4;
}

.custom-checkbox {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.checkbox-wrapper .textspan {
  padding-top: 0.4rem;
  color: var(--color-text);
}

.checkbox-wrapper label {
  overflow: hidden;
  max-width: 270px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.checkbox-wrapper label::before {
  display: none;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  -o-transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  content: "";
  position: absolute;
  left: 3.5rem;
  right: 0;
  top: 50%;
  height: 2px;
  background: #d2d3db;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid #4d5066;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.custom-checkbox::after {
  display: none;
  content: "";
  position: absolute;
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.gray-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 320px;
  width: 310px;
  height: 50px;
  background-color: var(--box-bg);
  color: white;
}

.items-left__info {
  border-top: 1px solid #4d5066;
  font-size: 1.2rem;
  font-weight: bold;
  color: #4d5066;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.items-left__info .left {
  margin-left: 2.5rem;
}

.items-left__info .clear {
  margin-right: 1.4rem;
  background: transparent;
  padding: 0.3rem;
  cursor: pointer;
  color: #4d5066;
  border: none;
}

.manage-wrapper {
  margin: 0 auto;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.manage-wrapper > button {
  background: transparent;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: #4d5066;
  padding: 0.5rem;
}

.manage-wrapper > button:hover {
  color: #e4e5f1;
}

.manage-wrapper .todo-manage--active {
  color: #3a7bfd;
}

.close {
  background: transparent;
  border: none;
  margin-right: 2rem;
  cursor: pointer;
  outline: none;
  width: 20px;
  height: 20px;
}

.close img {
  pointer-events: none;
  max-width: 100%;
  height: auto;
}

.status-filter {
  margin: 2rem auto;
}

.status-filter :first-child {
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */